:root{
      -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
    cursor: grab;
}
:root:active{
    cursor: grabbing;
}


hr.rounded{
    border: 8px solid #333; 
    border-radius: 500px; 
}
.grid{

    grid-template-columns: auto auto auto;
    display: grid;
    gap: 30px 15px;
}

.Btn {
    padding: 10px 5px;
    background-color: #333333;
    border: 3px solid #444444;
    border-radius: 15px;
    color: white;
    text-align: middle;
    text-decoration: solid;
    display: block;
    font-size: 15px;
    cursor: pointer;
}

.badge-New {
    border: 5px solid darkred;
    background-color: red;
    color: maroon;
    padding: 4px 8px;
    text-align: center;
    border-radius: 10px;
}
.badge-Update {
    border: 5px solid gold;
    background-color: yellow;
    color: goldenrod;
    padding: 4px 8px;
    text-align: center;
    border-radius: 10px;
}
.badge-None {
    background-color: transparent;
    color: transparent;
}
.badge-Featured {
    border: 5px solid goldenrod;
    background-color: gold;
    color: darkgoldenrod;
    padding: 4px 8px;
    text-align: center;
    border-radius: 10px;
}